dw-sample/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "dw-sample"
		},
		"AmazonS31_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'AmazonS31'"
		},
		"AzureDataLakeAnalytics1_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'AzureDataLakeAnalytics1'"
		},
		"incoming_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'incoming_data'"
		},
		"staging_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@CONCAT(pipeline().RunId, '.paraquet')"
		},
		"staging_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "staging"
		},
		"AmazonS31_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAJ4T2EKPS7HAKOYHQ"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "ehollanddla"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "595ccecf-0bfd-40b1-b16f-2b8f53be1cc8"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8fc9820f-c46f-415b-880a-01c3e6851984"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "d50c0a0d-90ce-45cc-97cc-46ef15d64304"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "dw-sample-rg"
		},
		"staging_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://staging.azuredatalakestore.net/webhdfs/v1"
		},
		"staging_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8fc9820f-c46f-415b-880a-01c3e6851984"
		},
		"staging_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "d50c0a0d-90ce-45cc-97cc-46ef15d64304"
		},
		"staging_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "dw-sample-rg"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy-from-s3",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink",
								"copyBehavior": "MergeFiles"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "s3_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transform",
						"type": "DataLakeAnalyticsU-SQL",
						"dependsOn": [
							{
								"activity": "copy-from-s3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "load.sql",
							"scriptLinkedService": {
								"referenceName": "staging",
								"type": "LinkedServiceReference"
							},
							"parameters": {
								"InputFile": {
									"value": "@CONCAT('/staging/', pipeline().RunId, '.paraquet')",
									"type": "Expression"
								},
								"OutputFile": {
									"value": "@CONCAT('/datawarehouse/', pipeline().RunId, '.csv')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDataLakeAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/s3_data')]",
				"[concat(variables('factoryId'), '/datasets/staging')]",
				"[concat(variables('factoryId'), '/linkedServices/staging')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s3_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AmazonS31",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AmazonS3Object",
				"structure": [
					{
						"name": "login",
						"type": "String"
					},
					{
						"name": "id",
						"type": "Int64"
					},
					{
						"name": "node_id",
						"type": "String"
					},
					{
						"name": "avatar_url",
						"type": "String"
					},
					{
						"name": "gravatar_id",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "html_url",
						"type": "String"
					},
					{
						"name": "followers_url",
						"type": "String"
					},
					{
						"name": "following_url",
						"type": "String"
					},
					{
						"name": "gists_url",
						"type": "String"
					},
					{
						"name": "starred_url",
						"type": "String"
					},
					{
						"name": "subscriptions_url",
						"type": "String"
					},
					{
						"name": "organizations_url",
						"type": "String"
					},
					{
						"name": "repos_url",
						"type": "String"
					},
					{
						"name": "events_url",
						"type": "String"
					},
					{
						"name": "received_events_url",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "site_admin",
						"type": "Boolean"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "company",
						"type": "String"
					},
					{
						"name": "blog",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "hireable",
						"type": "String"
					},
					{
						"name": "bio",
						"type": "String"
					},
					{
						"name": "public_repos",
						"type": "Int64"
					},
					{
						"name": "public_gists",
						"type": "Int64"
					},
					{
						"name": "followers",
						"type": "Int64"
					},
					{
						"name": "following",
						"type": "Int64"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					},
					{
						"name": "extract_year",
						"type": "Int64"
					},
					{
						"name": "extract_month",
						"type": "Int64"
					},
					{
						"name": "extract_day",
						"type": "Int64"
					},
					{
						"name": "extract_hour",
						"type": "Int64"
					},
					{
						"name": "extract_minute",
						"type": "Int64"
					},
					{
						"name": "extract_second",
						"type": "Int64"
					},
					{
						"name": "extract_timestamp",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"key": "",
					"prefix": "",
					"bucketName": "public-api-extractor-prod-resultbucket-i6bd2vdbkloh"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AmazonS31')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "ParquetFormat"
					},
					"fileName": {
						"value": "[parameters('staging_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('staging_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AmazonS31')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"accessKeyId": "[parameters('AmazonS31_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('AmazonS31_secretAccessKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeAnalytics",
				"typeProperties": {
					"accountName": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_accountName')]",
					"servicePrincipalId": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeAnalytics1_servicePrincipalKey')]"
					},
					"tenant": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/incoming_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('incoming_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('staging_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('staging_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('staging_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('staging_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		}
	]
}